include README.md
include CHANGELOG.md
include LICENSE
include .env.example
include pyproject.toml
graft src
prune src/*.egg-info

prune audit
prune data
prune devdocs
prune docs
prune tests
global-exclude .env
global-exclude .env.*
include .env.example
global-exclude __pycache__
global-exclude *.py[cod]
